body {
    padding: 20px;
  }
  button {
    margin-top: 5px;
    line-height: 15px;
    font-weight: bold;
    padding: 0 10px;
    background: grey;
    border: light black;
  }
  button:hover {
    background: lightgray;
  }